#sloContainer {
  max-width: 100% !important;
  font-family: "Raleway", Arial, Tahoma, sans-serif;
}
#sloContainer a {
  text-decoration: none;
}
#tabContent .dropdown {
  border: 1px #919191 solid;
}
#tabContent .dropdown .btn.dropdown-toggle {
  width: 100%;
  cursor: pointer;
}
#tableHeader .cell {
  padding: 24px;
}
section.teams .mimicTable div.cell {
  padding: 8px;
  border: 1px #cccccc solid;
  background: #fff;
  font-size: 0.8em;
  color: #757575;
  font-weight: bold;
  text-align: center;
}
section.sloSportData {
  font-family: "Raleway", Arial, Tahoma, sans-serif;
  max-width: 100% !important;
}
section.sloSportData .dateChanger {
  background: #dd3333;
  color : #fff;
  padding: 15px;
  cursor: pointer;
}
.slo-hidden {
  display: none;
}
.slo-dropdown {
  cursor: pointer;
}
.slo-dropdown .slo-dropdown-menu {
  position: absolute;
  left: 20%;
  width: 250px;
  max-height: 500px;
  overflow-y: auto;
  background: #fff;
  z-index: 2;
  border-top: 2px #757575 solid;
}
.slo-dropdown .slo-dropdown-menu .slo-dropdown-item {
  border-top: 1px #757575 solid;
  padding: 12px;
}
.slo-dropdown .slo-dropdown-menu .slo-dropdown-item:hover {
  background: #dd3333;
  color: #fff;
}
.slo-spacer {
  margin-bottom: 25px;
}
.slo-dropshadow {
  -webkit-box-shadow: 0px 0px 19px -2px rgba(150,147,150,1);
  -moz-box-shadow: 0px 0px 19px -2px rgba(150,147,150,1);
  box-shadow: 0px 0px 19px -2px rgba(150,147,150,1);
}
.slo-filter-wrap {
  text-align: center;
  height: 55px;
}
.filter-label {
  font-size: .8em; 
  padding-top: 12px;
}
.slo-row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.slo-col-hack-4 {
  width: calc(100% / 4);
  float: left;
}
.slo-col-hack-5 {
  width: calc(100% / 5);
  float: left;
}